.git
.github
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage

.env
.env.*

data
downloads
tmp
pmtwitter_source
pmyoutube_extracted
deploy
scripts
tests

*.db
*.sqlite3
*.md
LICENSE
docker-compose.yml
pyproject.toml
requirements-dev.txt
